html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

html{
	position:relative;
	min-height:100%;
}

body{ 
    margin:0 0 100px; /* bottom = footer height */
}

footer{
	position: absolute;
	left:0;
	bottom:0;
	height:30px;
	width:100%;
	background-color:silver;
	text-align:center;
	padding:5px;
}

/* End Sticky Footer */

section, header, nav{
	padding-left:25px;
	padding-right:25px;
	padding-top:25px;
}

nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

nav ul li{
	display:inline;
	background-color:#ccc;
	padding:5px;
	margin-right:5px;
}

/* Forms */

label{
	margin-top:10px;
	margin-bottom:0;
	display:block;
}

.checkboxLabel, .radioLabel{
	display:inline;
}

input[type=text],input[type=password],select{
	width:300px;
	font-size:20px;
}
ul.errors{
	color:red;
	margin:0;
	margin-top:5px;
	padding:0;
	list-style-type:none;
}

.flash_message{
	width:100%;
	text-align:center;
	padding:5px;
	position:fixed;
	top:0;
	left:0;
	background-color:yellow;
	font-weight:bold;
}	
#content { 
		width: 300px; 
		height: 300px; 
		border: 1px solid black; 
		position: relative; 
}

.topright { 
		position: absolute; 
		top: 5px; 
		right: 25px; 
		text-align: right; 
		letter-spacing: 2px;
}

blockquote {
	border:solid;
	color:#246B24;
	border-left-width:2px;
	border-right-width:2px;
	border-radius:1em;
	word-spacing:50px;
	text-align:center;
	}

	
span {
	display:block;
    float:  left;
    border: solid;
    margin: 20px 60px 20px 20px;
	}
	
.container { 
    width: 200px;
	display:block;
	float:  left;
	position:relative; 
	padding:0 0 0 5px; 
	}

#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
    background:#000;
}
		 
h1 {
	color:#246B24;
	text-align:center;
	font-size:1.5em
	}
		  

		 
a {
	color:#246B24;
	background-color:transparent;
	text-decoration:none;
	display: inline-block;
	}

th {
	color:#246B24;

	}
tr {
	color:#246B24;
	}
td {
	padding-left: 100px;
  text-align: left;
  vertical-align: middle;
}
	
